.variantsResult {
  scroll-behavior: auto;
}

.resultsVariants p {
  font-size: 11px;
  background: #f7faff;
  color: black;
  padding: 20px;
  box-shadow: 1px 1px 1px 1px #e6e6e6;
}

.CSSgal {
  position: relative;
  overflow: hidden;
  height: fit-content;
  width: 100vw;
}

/* SLIDER */

.CSSgal .slider {
  height: fit-content;
  white-space: nowrap;
  font-size: 0;
  transition: 0.8s;
}

/* SLIDES */

.CSSgal .slider > * {
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 100vw;
  background: none 50% no-repeat;
  background-size: cover;
  margin-top: 38px;
}

/* NAVIGATION */

.CSSgal .bullets {
  position: absolute;
  z-index: 2;
  top: 2px;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  background: #98a9c3;
}
.CSSgal .bullets > a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  background: rgba(255, 255, 255, 1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.CSSgal .bullets > a + a {
  background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}
.CSSgal .bullets > a:hover {
  background: rgba(255, 255, 255, 0.7) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.CSSgal > s:target ~ .bullets > * {
  background: rgba(255, 255, 255, 0.5);
}

/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal > s:target ~ .prevNext > * {
  visibility: hidden;
}
/* ACTIVE: */
#s0:target ~ .prevNext > *:nth-child(0) {
  visibility: visible;
}
#s1:target ~ .prevNext > *:nth-child(1) {
  visibility: visible;
}
#s2:target ~ .prevNext > *:nth-child(2) {
  visibility: visible;
}
#s3:target ~ .prevNext > *:nth-child(3) {
  visibility: visible;
}
#s4:target ~ .prevNext > *:nth-child(4) {
  visibility: visible;
}
#s5:target ~ .prevNext > *:nth-child(5) {
  visibility: visible;
}
#s6:target ~ .prevNext > *:nth-child(6) {
  visibility: visible;
}
#s7:target ~ .prevNext > *:nth-child(7) {
  visibility: visible;
}
#s8:target ~ .prevNext > *:nth-child(8) {
  visibility: visible;
}
#s9:target ~ .prevNext > *:nth-child(9) {
  visibility: visible;
}

/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}
#s2:target ~ .slider {
  transform: translateX(-200%);
  -webkit-transform: translateX(-200%);
}
#s3:target ~ .slider {
  transform: translateX(-300%);
  -webkit-transform: translateX(-300%);
}
#s4:target ~ .slider {
  transform: translateX(-400%);
  -webkit-transform: translateX(-400%);
}
#s5:target ~ .slider {
  transform: translateX(-500%);
  -webkit-transform: translateX(-500%);
}
#s6:target ~ .slider {
  transform: translateX(-600%);
  -webkit-transform: translateX(-600%);
}
#s7:target ~ .slider {
  transform: translateX(-700%);
  -webkit-transform: translateX(-700%);
}
#s8:target ~ .slider {
  transform: translateX(-800%);
  -webkit-transform: translateX(-800%);
}
#s9:target ~ .slider {
  transform: translateX(-900%);
  -webkit-transform: translateX(-900%);
}

/* More slides? Add here more rules */

/* YOU'RE THE DESIGNER! 
     ____________________
     All above was mainly to get it working :)
     CSSgal CUSTOM STYLES / OVERRIDES HERE: */

.CSSgal {
  color: #fff;
}
.CSSgal .slider h2 {
  margin-top: 40vh;
  font-weight: 200;
  letter-spacing: -0.06em;
  word-spacing: 0.2em;
  font-size: 3em;
}
.CSSgal a {
  border-radius: 50%;
  margin: 0 3px;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
